body{
    background-color: black;
}
#rodape{
    margin-left: 40%;
    margin-top: 10px;
}
.menu{
    background-color: rgb(238, 176, 238);
    display: flex;
    position: sticky;
    top:0;
    justify-content: space-around;
    border:solid;
    z-index: 10;
}

.games{
   margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url("https://t3.ftcdn.net/jpg/03/23/88/08/360_F_323880864_TPsH5ropjEBo1ViILJmcFHJqsBzorxUB.jpg");
    gap: 50px;
    border:solid
}
#game{
    background-color: rgb(238, 176, 238);
    border:solid;
    border-radius: 10px;
  position: relative  
}
#game:hover img{
    opacity: 0.33;
}
#game h3{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}
#game:hover h3{
    opacity: 1;
}
#links{
    margin-left: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
     
    font-family: 'The Nautigal', cursive;
    
}
a{
    text-decoration: none;
}
a:hover{
    background-color: rgb(153, 201, 157);
}
h3{
    text-align:center ;
    font-family: 'Oswald', sans-serif; 
    color:black;
}